@font-face {
	font-family: firstfont;
	src: url(../../fonts/font-1.ttf);
  
	font-family: secondfont;
	src: url(../../fonts/lvg-bebas-neue-regular.otf)
  
	  
  }

$color_1: #636E7B;
$color_2: #1B1822;
$font-family_1: firstfont;

.outer-menu-top {
	width: 100%;
	float: left;
	background: #fff;
}

.outer-menu {
	ul {
		li {
			float: left;
			position: relative;
			margin: 0px 20px;
		}
	}
}

#cssmenu {
	ul {
		li {
			a {
				font-family: $font-family_1;
				float: left;
				position: relative;
				padding: 30px 15px;
				color: $color_1;
				float: left;
				position: relative;
				padding: 30px 0px;
				color: $color_1;
			}
			&::before {
				width: 0px;
				height: 3px;
				bottom: 15px !important;
				position: absolute;
				background: #199FD6;
				content: "";
				-webkit-transition: all .2s;
				-moz-transition: all .2s;
				-o-transition: all .2s;
				transition: all .2s;
				right: 50% !important;
				bottom: 0px;
			}
			&::after {
				width: 0px;
				height: 3px;
				bottom: 15px;
				position: absolute;
				background: #199FD6;
				content: "";
				-webkit-transition: all .2s;
				-moz-transition: all .2s;
				-o-transition: all .2s;
				transition: all .2s;
				left: 50% !important;
			}
			&:hover {
				&::before {
					width: 15px !important;
					-webkit-transition: all .2s;
					-moz-transition: all .2s;
					-o-transition: all .2s;
					transition: all .2s;
				}
				&::after {
					width: 15px !important;
					-webkit-transition: all .2s;
					-moz-transition: all .2s;
					-o-transition: all .2s;
					transition: all .2s;
				}
			}
		}
		margin: 0px 30px;
		li.active {
			&::before {
				width: 15px !important;
				-webkit-transition: all .2s;
				-moz-transition: all .2s;
				-o-transition: all .2s;
				transition: all .2s;
			}
			&::after {
				width: 15px !important;
				-webkit-transition: all .2s;
				-moz-transition: all .2s;
				-o-transition: all .2s;
				transition: all .2s;
			}
			a {
				color: $color_2;
			}
		}
	}
	margin: 10px 0px;
	width: 100%;
	float: left;
	position: relative;
}