$color_1: #636E7B;
$color_2: #1B1822;
$font-family_1: firstfont;

@font-face {
	font-family: firstfont;
	src: url(../fonts/font-1.ttf);
}
#cssmenu {
	ul {
		li {
			a {
				font-family: $font-family_1;
				float: left;
				position: relative;
				padding: 30px 15px;
				color: $color_1;
				float: left;
				position: relative;
				padding: 30px 0px;
				color: $color_1;
			}
			&::before {
				width: 0px;
				height: 3px;
				bottom: 15px !important;
				position: absolute;
				background: #199FD6;
				content: "";
				-webkit-transition: all .2s;
				-moz-transition: all .2s;
				-o-transition: all .2s;
				transition: all .2s;
				right: 50% !important;
				bottom: 0px;
			}
			&::after {
				width: 0px;
				height: 3px;
				bottom: 15px;
				position: absolute;
				background: #199FD6;
				content: "";
				-webkit-transition: all .2s;
				-moz-transition: all .2s;
				-o-transition: all .2s;
				transition: all .2s;
				left: 50% !important;
			}
			&:hover {
				&::before {
					width: 15px !important;
					-webkit-transition: all .2s;
					-moz-transition: all .2s;
					-o-transition: all .2s;
					transition: all .2s;
				}
				&::after {
					width: 15px !important;
					-webkit-transition: all .2s;
					-moz-transition: all .2s;
					-o-transition: all .2s;
					transition: all .2s;
				}
			}
		}
		margin: 0px 30px;
		li.active {
			&::before {
				width: 15px !important;
				-webkit-transition: all .2s;
				-moz-transition: all .2s;
				-o-transition: all .2s;
				transition: all .2s;
			}
			&::after {
				width: 15px !important;
				-webkit-transition: all .2s;
				-moz-transition: all .2s;
				-o-transition: all .2s;
				transition: all .2s;
			}
			a {
				color: $color_2;
			}
		}
	}
	margin: 10px 0px;
	width: 100%;
	float: left;
	position: relative;
}
input {
	display: none;
}
.video {
	iframe {
		width: 100%;
		height: 100%;
		position: absolute;
	}
	width: 732px;
	height: 300px;
	float: left;
	position: relative;
	left: 10px;
	margin: 2% 0% 4% 0%;
	box-shadow: 0px 0px 0px 10px #199FD6;
}
.right-008 {
	width: 40px;
	height: 27px;
	background: url(../images/georgia.svg  )center no-repeat;
	float: left;
	margin: -2px 0px 0px -15px;
}
.right-08 {
	width: 40px;
	height: 27px;
	background: url(../images/napoli.svg) center no-repeat;
	float: left;
	margin: -2px 0px 0px -24px;
}
.right-8 {
	width: 36px;
	height: 27px;
	background: url(../images/ic-1.svg) center no-repeat;
	float: left;
	margin: -2px 15px 0px -14px;
}
.right-9 {
	float: left;
	padding: 0px 20px 0px 15px;
	margin: 5px 0px 0px 0px;
	border-left: 1px #ddd solid;
}
.right-7 {
	width: 100%;
	float: left;
	position: relative;
	margin: 3% 0% 2% 0%;
	font-size: 15px;
	font-family: $font-family_1;
	color: $color_1;
	span {
		font-family: $font-family_1;
	}
}
.right-6 {
	width: 100%;
	float: left;
	position: relative;
	margin: 0% 0% 0% 0%;
	background: var(--1, linear-gradient(180deg, #199FD6 0%, #003C82 100%));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-style: normal;
	font-weight: 700;
	line-height: 106.5%;
	letter-spacing: 2.56px;
	font-family: $font-family_1;
}
.right-5 {
	width: 100%;
	float: left;
	position: relative;
	margin: 0% 0% 0% 0%;
	color: $color_2;
	font-family: $font-family_1;
}
.right-4 {
	width: 100%;
	float: left;
	position: relative;
	margin-top: 100px;
	font-size: 60px;
}
.outer-menu {
	ul {
		li {
			float: left;
			position: relative;
			margin: 0px 20px;
		}
	}
}
.right-2 {
	width: 100%;
	height: 800px;
	float: left;
	position: relative;
	z-index: 9999;
}
.outer-menu-top {
	width: 100%;
	float: left;
	background: #fff;
}
.right-3 {
	margin: 0px 5% 0px 193px;
}
.right-1 {
	width: 70%;
	height: 100%;
	float: right;
}

.right-001{
	background: url(../images/icon_10.svg) ;
	background-repeat: no-repeat;
	position: absolute;
	width: 125%;
	height: 100%;
	left: -435px;
	overflow: hidden;
	z-index: -1;
}
.container {
	width: 100%;
	height: 100%;
	float: left;
	overflow: hidden;
}
.left-soc-01.left-soc-1 {
	margin-bottom: 30px;
	&:hover {
		background: #1d55f1;
		border: 2px #1d55f1 solid;
	}
}
.facebook {
	width: 100%;
	height: 100%;
	background: url(../images/icon_04.svg) center no-repeat;
	float: left;
}
.instagram {
	width: 100%;
	height: 100%;
	background: url(../images/icon_09.svg) center no-repeat;
	float: left;
}
.left-soc-1 {
	margin: auto;
	width: 45px;
	height: 45px;
	border: 2px rgb(255 255 255 / 30%) solid;
	border-radius: 100%;
	margin-bottom: 15px;
	&:hover {
		background: #f11d62;
		border: 2px #f11d62 solid;
	}
}
.left-6  a{
	position: relative;
	left: 35px;
	color: #FFF;
	font-size: 18px;
	font-family: firstfont;
	margin-bottom: 20px;
	writing-mode: vertical-rl;
}
.left-5 {
	width: 90px;
	position: absolute;
	left: 0px;
	bottom: 0px;
}
.left-7 {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	background: rgba(12, 13, 24, 0.81);
}
.leftside_cont {
	background: #fff url(../images/bg_1.png) top no-repeat;
	background-size: 100%;
	width: 30%;
	height: 100%;
	float: left;
	position: fixed;
	left: 0px;
	top: 0px;
}
.left-2 {
	
	position: relative;
	z-index: 9999999;
	width: 90%;
	height: 100%;
	float: left;
	margin-left: 195px;
	margin-top: 55px;
	margin-bottom: -10px;
}
.left-2 img{
	width: 100%;
}

.logo-1 {
	position: relative;
	z-index: 1;
	width: 242px;
	float: left;
	margin-left: 120px;
	margin-top: 24px;
}
.left-4 {
	img {
		width: 51px;
		top: 6px;
		position: relative;
	}
	text-align: center;
	width: 55px;
	height: 55px;
	background: rgb(255 255 255 / 15%);
	border-radius: 100px;
	overflow: hidden;
	margin: 18px auto;
}
.left-3 {
	z-index: 1;
	width: 90px;
	height: 100%;
	float: left;
	position: fixed;
	overflow: hidden;
	top: 0px;
	left: 0px;
	border-right: 1px rgba(255, 255, 255, 0.20) solid;
}


.right-0007{
	width: 100%;
	float: left;
	position: relative;
	margin: 0% 0% 2% 0%;
	font-size: 15px;
	font-family: $font-family_1;
	color: $color_1;
}



.match_icon{
	width: 36px;
	height: 27px;
	background: url(../images/match.svg) center no-repeat;
	float: left;
	margin: -2px 15px 0px -14px;
}

.goal_icon{
	width: 36px;
	height: 27px;
	background: url(../images/goal.svg) center no-repeat;
	float: left;
	margin: -2px 15px 0px -14px;
}

.assist_icon{
	width: 36px;
	height: 27px;
	background: url(../images/assist.svg) center no-repeat;
	float: left;
	margin: -2px 15px 0px -14px;
}

.cards_icon{
	width: 36px;
	height: 27px;
	background: url(../images/cards.svg) center no-repeat;
	float: left;
	margin: 0;
	position: absolute;
	right: 175px;
	top: 0;
}

.yellow_Card{
	width: 36px;
	height: 27px;
	background: url(../images/yellow_card.svg) center no-repeat;
	float: left;
	margin: 0;
	position: absolute;
	right: 133px;
	top:0;


}

.red_Card{
	width: 36px;
	height: 27px;
	background: url(../images/red_card.svg) center no-repeat;
	float: left;
	margin: 0;
	position: absolute;
	right: 97px;
	top:0;
}