@import url('./reset.scss');
@import url('./app.scss');

@import url('./pages/home.scss');
@import url('./pages/biography.scss');
@import url('./pages/video.scss');
@import url('./pages/contact.scss');

@import url('./components/Navigation.scss');
@import url('./components/leftside.scss');
@import url('./components/subscribe.scss');
@import url('./components/header.scss');



@import url('./components/footer.scss');

body {
  background-color: #ffffff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #199FD6;
    border-radius: 6px;
  }
}

* {
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #199FD6;
    border-radius: 6px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.loader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1000;

  img {
    position: relative;
    top: 50%;
    left: 50%;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
