.info-1 table {
    color: #515158;
    font-size: 13px;
    font-family: font-1;
    border-collapse: collapse;
}




.tables__content {
    float: left;
    margin-bottom: 6%;
    margin-top: 3%;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 4px rgb(0 0 0 / 10%);
}


.tables__content thead {
    font-family: font-1;
    font-size: 14px;
    background-color: #003c82;
    color: #ffffff;
}

.tables__content th {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}


.tables__content td:not(:last-child) {
    border-right: 1px solid #eaeaea;
}

.tables__content td {
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
}